* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: gray;
    width: 1210px;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.main-nav {
    display: flex;
}
.main-nav-item-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 50px;
    text-transform: uppercase;
    margin: 20px;
    margin-left: 50px;
}
.img {
    width: 300px;
    height: 200px;
    /* margin-top: 80px; */
    /* margin-right: 500px; */ 
}
.title {
    width: 200px;
    height: 100px;
    font-size: 40px;
    text-align: center;
    color: #107063;
    margin-top: 150px;
    margin-left: 40px;
}
.div2 {
    width: 100px;
    height: 100px;
    background: rgba(255, 0, 0, 0);
    position: relative;
    animation-name: example;
    animation-duration: 3s;  
    animation-delay: 2s;
    animation-fill-mode: backwards;
}
@keyframes example {
    from {top: 0px; background-color: yellow;}
    to {top: 200px;}
}
@keyframes example {
        0%   {background-color:red; left:0px; top:0px;}
        25%  {background-color:yellow; left:200px; top:0px;}
        50%  {background-color:blue; left:200px; top:200px;}
        75%  {background-color:green; left:0px; top:200px;}
        100% {background-color:red; left:0px; top:0px;}
}
div {
        width: 100px;
        height: 100px;
        position: relative;
        animation-name: example;
        animation-duration: 4s;
}
@keyframes example {
    0%   {background-color:rgba(255, 0, 0, 0); left:0px; top:0px;}
    25%  {background-color:rgba(255, 255, 0, 0); left:200px; top:0px;}
    50%  {background-color:rgba(0, 0, 255, 0); left:200px; top:200px;}
    75%  {background-color:rgba(0, 128, 0, 0); left:0px; top:200px;}
    100% {background-color:rgba(255, 0, 0, 0); left:0px; top:0px;}
 }
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

